.jumbotron{

background: #b42d2d;
color: white;

}
#date{

margin-left: 30px;


}
#clock_box
{
    width:100%;
    height:25%;
    position:relative;
    text-align: center;
    top: -60px;
}
#clock
{
    color:#606060;
    font:100px sans-serif;
    margin-top:5%;
    
}
#formInput{
float: left;
width: 400px;


}

#formButton{
float: none;
}
.formBlock{
position: relative;
margin-left: 440px;
top: -40px;

}
.box{
margin-left: 150px;
margin-top: 30px;
float: left;

}
#Late_entry_button{
    margin-top: 20px;
    clear: left;
}
#Student_info{
    margin-bottom: 30px;
}
#Datewise_entry_field{

    float: left;

}

#Datewise_entry_button{



}

